:root {
  font-size: 16px;
  --bs-primary: #fe5e01;
  --bs-secondary: #050505;
  --bs-info: #0dcaf0;
  --bs-warning: #f5c070;
  --bs-danger: #f9655b;
  --bs-white: #ffffff;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 18, 18, 18;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Proxima Nova Rg";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

body.v-light:not(.no-light) {
  color: var(--bs-body-color-rgb);
  background-color: var(--bs-white);
}

body {
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bs-white);
  font-family: var(--bs-font-sans-serif);
}

.v-light:not(.no-light) .main-slider .dsn-slider-content .slide-content .title {
  color: var(--bs-primary);
}

h1 {
  line-height: 1;
  font-size: 3rem;
  font-family: "Proxima Nova bold";
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
  font-family: "Proxima Nova bold";
  font-weight: 600;
}

h2.display {
  font-size: 21.5rem;
  font-family: "Proxima Nova Th";
  line-height: 18rem;
}

.about-sec-style .dsn-word-wrapper:last-child .dsn-chars-wrapper:last-child {
  position: relative;
}

.about-sec-style
  .dsn-word-wrapper:last-child
  .dsn-chars-wrapper:last-child::before {
  position: absolute;
  left: -24rem;
  top: 20px;
  width: 96px;
  height: 52px;
  background-color: var(--bs-primary);
  content: "";
}

h2.display-1 {
  font-size: 6.25rem;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

p.lead,
.lead p {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1,
h1.title,
.section-p h1.title {
  max-width: 100%;
  font-size: 3rem;
  line-height: 1;
  font-family: "Proxima Nova bold";
}

h1 .span,
h1.title > span,
.section-p h1.title > span {
  color: var(--bs-primary);
  font-family: "Proxima Nova Th";
}

.hero.title {
  max-width: 90%;
  font-size: 6.25rem;
  font-family: "Proxima Nova Th";
  color: var(--bs-white);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header h1.title {
  font-size: 7.5rem;
  line-height: 1;
  font-family: "Proxima Nova Th";
}

h2,
h2.title,
.section-p h2.title {
  max-width: 100%;
  font-size: 6.25rem;
  line-height: 1;
  font-family: "Proxima Nova Th";
}

h2.title.display,
.section-p h2.title.display {
  font-size: 21.5rem;
  font-family: "Proxima Nova Th";
  line-height: 18rem;
}

h3,
h3.sub-title,
.section-p h3.sub-title {
  max-width: 100%;
  font-size: rem;
  line-height: 1;
  font-family: "Proxima Nova bold";
}

h3 .span,
h3.sub-title > span,
.section-p h3.sub-title > span {
  color: var(--bs-primary);
  font-family: "Proxima Nova Th";
}

h5,
.sub-text-header h5,
h5.sub-title {
  font-size: 1.375rem;
  font-family: "Proxima Nova Th";
  font-weight: 100;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bdr-btm-primary {
  border-bottom: 1px solid rgba(254, 94, 0, 0.4);
  padding: 2.5rem 0;
  margin-bottom: 5rem;
}

.bdr-btm-dark {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 2.5rem 0;
  margin-bottom: 5rem;
}

.contenet-hero h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 25px;
  line-height: 1;
}

.contenet-hero p,
.contenet-hero h2,
.contenet-hero ul.line-list {
  max-width: 1020px;
}

ul.line-list {
  margin-bottom: 1rem;
}

ul.line-list li {
  position: relative;
  padding-left: 40px;
  font-size: 1.5rem;
}

ul.line-list li:before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  background-color: var(--bs-primary);
  transform: translate(-50%);
  left: 10px;
  top: 14px;
}

.contenet-hero a {
  color: var(--bs-primary);
}

.section-margin-b {
  padding-bottom: 2.5rem;
}

.bg-primary-color {
  background: rgba(254, 94, 0, 0.12);
}

/* ! change on grid container model */
@media (min-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

/* @media (min-width: 1920px) {
  .container {
    max-width: 1170px;
  }
} */

header .header-page .subtitle-page {
  font-weight: 100;
}

.site-header {
  padding: 24px 2rem;
}

.site-header .inner-header .main-logo {
  width: 220px;
}

.site-header .inner-header .main-logo img {
  height: 60px;
}

.site-header
  .extend-container
  .main-navigation
  ul.extend-container
  li:nth-last-child(1),
.site-header
  .extend-container
  .main-navigation
  ul.extend-container
  li:nth-last-child(2) {
  font-size: 2rem;
}

.site-header
  .extend-container
  .main-navigation
  ul.extend-container
  li:nth-last-child(2) {
  margin-top: 4rem;
}

.site-header .extend-container .main-navigation ul.extend-container > li {
  font-size: 5rem;
  font-family: "Proxima Nova bold";
  letter-spacing: 2px;
  line-height: 0.5;
}

.custom-input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  outline: none;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-file .btn-browse {
  border: 1px solid #fe5e00;
  min-width: 203px;
  height: 56px;
  color: #fe5e00;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-input-file + label {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  gap: 0 30px;
  border-radius: 0;
  color: #8492a6;
  background-color: #fff;
  outline: none;
  margin: 0;
}

.upload-file .file-name {
  border-bottom: 2px solid #fff;
  flex-grow: 2;
}

.custom-input-file + label i {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.5em;
}

.custom-input-file + label:hover,
.custom-input-file.has-focus + label,
.custom-input-file:focus + label {
  background-color: #fff;
}

.no-js .custom-input-file + label {
  display: none;
}

.custom-input-file--2 + label {
  color: #fff;
  border-color: #ffffff;
  background: transparent;
  font-size: 1rem;
}

.custom-input-file--2 + label:hover,
.custom-input-file--2.has-focus + label,
.custom-input-file--2:focus + label {
  color: #fff;
  border-color: #fff;
  background: transparent;
  opacity: 1;
}

.custom-input-file-link + label {
  padding: 0;
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
}

.custom-input-file-link + label:hover,
.custom-input-file-link.has-focus + label,
.custom-input-file-link:focus + label {
  background-color: transparent;
}

/* ! Menue */
@media only screen and (min-width: 992px) {
  .classic-menu .main-navigation {
    position: inherit;
    display: block;
    margin-left: auto;
    height: auto;
    width: auto;
    top: unset;
    left: unset;
    background-color: transparent;
    z-index: 1;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  .classic-menu .main-navigation ul.extend-container {
    display: block;
  }

  .classic-menu .main-navigation ul.extend-container > li {
    font-size: 2rem;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: 700;
  }

  .classic-menu
    .site-header
    .extend-container
    .main-navigation
    ul.extend-container
    > li:first-of-type {
    margin-left: 0;
  }
}

/* ! Hero Slider - Slice Right */
.main-slider.slice-right .bg-container {
  width: 60%;
  left: 0;
}

.main-slider .dsn-slider-content {
  width: 41%;
  left: 47%;
}

.main-slider.slice-right .dsn-slider-content .sub-text-header {
  padding-left: 25%;
  padding-right: 20%;
}

/* ! product section */
.color-three {
  color: #ead4ce !important;
}

.home-product.header-project .description {
  position: absolute;
  margin-top: -5%;
  max-width: 680px;
  width: 100%;
  left: auto;
  right: 10%;
  text-align: left;
}

#dsn-pigmentation-description.description {
  position: absolute;
  margin-top: -22%;
  max-width: 680px;
  width: 100%;
  left: 44%;
  text-align: left;
}

#dsn-pigmentation-desc-items.intro-project-details {
  margin-top: 6%;
}

.home-product.header-project .intro-project {
  width: 100%;
}

.home-product.header-project .intro-project-details {
  position: absolute;
  margin-top: -10%;
  right: 10%;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  max-width: 680px;
  width: 100%;
  background-color: transparent !important;
}

.home-product.header-project .intro-project-details {
  left: 44%;
  max-width: 605px;
  padding: 5px;
}
/* ! Title and Subtitle section */
.title-cover {
  font-size: 6rem;
  font-family: var(--bs-font-sans-serif);
  font-weight: 600;
  color: inherit;
}

.v-light:not(.no-light) .section-p h2.title {
  color: var(--bs-primary);
}

/* ! Work slick slider */
.our-work .work-item {
  height: 80vh;
}

.our-work .slick-list .slick-slide {
  opacity: 0.5;
  margin: 0;
  border-radius: 1rem;
  -webkit-transform: scale(0.9) translate(0, 0);
  transform: scale(0.9) translate(0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.our-work .slick-list {
  padding: 0% !important;
}

.our-work .slick-list .slick-slide .img-next-box {
  width: 100%;
  margin-left: 0%;
  border-radius: 1rem;
}

.our-work .slick-list .slick-slide.slick-current {
  opacity: 1;
  -webkit-transform: scale(1) translate(0, 0);
  transform: scale(1) translate(0, 0);
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.our-work .slick-list .slick-slide.slick-current .img-next-box {
  -webkit-animation: img-box-right 0.7s ease-in-out both;
  animation: img-box-right 0.7s ease-in-out both;
}

@-webkit-keyframes img-box-right {
  0% {
    width: 100%;
    margin-left: 0%;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }

  100% {
    width: 70%;
    margin-left: 30%;
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}

@keyframes img-box-right {
  0% {
    width: 100%;
    margin-left: 0%;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }

  100% {
    width: 60%;
    margin-left: 40%;
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}

/* .our-work .work-item .item-info{
    top: 50%;
    opacity: 0;
} */
.our-work .work-item .item-info .cat {
  font-size: 2.5rem;
  font-family: var(--bs-font-sans-serif);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.69);
}

.v-light:not(.no-light) .our-work .work-item .item-info .cat {
  color: var(--bs-primary);
}

.v-light:not(.no-light) .our-work .work-item .item-info h6 {
  color: var(--bs-primary);
}

.our-work .work-item .item-info h6 {
  font-size: 2rem;
  font-family: var(--bs-font-sans-serif);
  font-weight: 100;
  color: rgba(255, 255, 255, 0.69);
}

.our-work .slick-slide.slick-current .item-info {
  opacity: 1;
  -webkit-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  transform: translate(0, -50px);
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.our-work .slick-slide img {
  filter: grayscale(1);
}

.our-work .slick-slide.slick-current img {
  filter: none;
}

/* testimonial section */

.v-light:not(.no-light) .our-work .work-item .item-info h3 {
  color: white;
}

.our-work .work-item .testimonial-title.item-info {
  opacity: 1;
}

.our-work .work-item .testimonial-title.item-info h3 {
  text-align: center;
}

.our-work .work-item .testimonial-title .testimonials-inner {
  padding: 0 5rem;
}

.our-work .work-item .testimonial-title .testimonials-inner:after {
  content: "”";
  position: absolute;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  bottom: -100px;
  right: -45px;
  font-weight: 600;
  font-size: 15rem;
  line-height: 100px;
  color: #fff;
}

.our-work .work-item .testimonial-title .testimonials-inner:before {
  content: "”";
  position: absolute;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 25% 0%;
  transform-origin: 25% 0%;
  top: 0px;
  left: 0px;
  font-weight: 600;
  font-size: 15rem;
  line-height: 100px;
  color: #fff;
}

.v-light:not(.no-light)
  .our-work
  .work-item
  .testimonial-title
  .testimonials-inner:after,
.v-light:not(.no-light)
  .our-work
  .work-item
  .testimonial-title
  .testimonials-inner:before {
  color: var(--bs-primary);
}

/* ! Video section */
.bg-img-holder {
  position: absolute;
  min-height: 20rem;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  left: 0;
}

.content-reverse .bg-img-holder {
  top: 0;
  left: auto;
  right: 0;
}

.top-right-0 {
  top: 0;
  right: 0;
}

.video-half-box.box-gallery-vertical [data-dsn-grid="moveUp"] {
  height: 100vh;
  max-width: 100%;
}

.video-section {
  height: 100vh !important;
}

.content-holder {
  position: absolute;
  min-height: 20rem;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  bottom: 0;
  max-width: 50vw;
  right: 0;
}

.content-reverse .content-holder {
  right: auto !important;
  left: 15% !important;
}

.box-gallery-vertical.box-gallery-content .bg-mask-content {
  max-width: 540px;
}

.video-section .icon-circle,
.video-section .play-btn,
.video-section .text-play {
  line-height: 112px;
  text-indent: 10px;
}

.video-section .icon-circle {
  background-color: var(--bs-primary);
}

.v-light:not(.no-light) .video-section .icon-circle {
  background-color: var(--bs-primary);
}

/* ! social gallery */
.work-inner.work-masonry .work-item .item-info {
  width: fit-content;
}

.work-inner .projects-list {
  margin: 0 !important;
}

.work-inner .work-item .item-border {
  background-color: rgba(0, 0, 0, 0);
}

.work-inner .work-item.dsn-active .item-border,
.work-inner .work-item:hover .item-border {
  background-color: rgba(0, 0, 0, 0.3);
}

.work-inner .work-item .item-info .cat {
  font-size: 1.5rem;
  font-family: var(--bs-font-sans-serif);
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.work-inner .work-item .item-info h6 {
  font-size: 1;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.69);
  text-transform: lowercase;
}

.work-inner .work-item .item-info h4 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: lowercase;
}

.work-inner .work-item .item-info {
  margin: auto 16%;
  overflow-y: auto;
  padding: 0;
}

/* ! 3D Objects */
#dsn-acne-description.description {
  text-align: center;
  left: auto;
  right: auto;
  max-width: 100%;
  margin-top: 0;
}

.three-D.orange-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: flex-start;
}

.pigmentation .three-D.orange-box {
  justify-content: start;
  vertical-align: middle;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate3d(0, 1, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.scene {
  width: 600px;
  height: 600px;
  perspective: 600rem;
}

.box {
  width: 600px;
  height: 400px;
  position: relative;
  scale: 1.5;
  transform-style: preserve-3d;
  transform: rotateY(-30deg) rotateX(-6deg) skewY(2deg) skewX(-2deg)
    translateX(22%) translateY(-15%) translateZ(-50px);
  transition: transform 1s;
}

.box.show-front {
  transform: translateZ(-50px) rotateY(0deg);
}

.box.show-right {
  transform: translateZ(-150px) rotateY(-90deg);
}

.box.show-back {
  transform: translateZ(-50px) rotateY(-180deg);
}

.box.show-left {
  transform: translateZ(-150px) rotateY(90deg);
}

.box.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}

.box.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}

.box__face {
  position: absolute;
  border: none;
  font-size: 40px;
  font-weight: bold;
  color: transparent;
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 600px;
  height: 400px;
  line-height: 400px;
}

.box__face--right,
.box__face--left {
  width: 200px;
  height: 400px;
  left: 200px;
  line-height: 400px;
}

.box__face--top,
.box__face--bottom {
  width: 600px;
  height: 200px;
  top: 100px;
  line-height: 200px;
}

.box__face--front {
  background: #da4b00;
}

.box__face--right {
  background: #833e2d;
}

.box__face--back {
  background: #da4b00;
}

.box__face--left {
  background: #833e2d;
}

.box__face--top {
  background: #894d40;
}

.box__face--bottom {
  background: #894d40;
}

.box__face--front {
  transform: rotateY(0deg) translateZ(100px);
}

.box__face--back {
  transform: rotateY(180deg) translateZ(100px);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(300px);
}

.box__face--left {
  transform: rotateY(-90deg) translateZ(300px);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(200px);
}

.box__face--bottom {
  transform: rotateX(-90deg) translateZ(200px);
}

/* Letter L */
.scene_L {
  width: 400px;
  height: 800px;
  margin: 10px;
  perspective: 1000rem;
}

.L_shap {
  position: fixed;
  width: 400px;
  height: 800px;
  top: 8rem;
  scale: 2;
  transform-style: preserve-3d;
  transform: rotateY(-9deg) rotateX(0deg) rotateZ(-6deg) skewY(6deg)
    skewX(-6deg) translateX(32%) translateY(0%) translateZ(-100px);
  transition: transform 1s;
}

.cube_L {
  position: relative;
  top: 0%;
  animation-duration: 20s;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube_L.nose {
  top: 25%;
}

.cube_L.nose.nose_add {
  top: 50%;
}

.cube_L__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 0;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: transparent;
  text-align: center;
}

.cube_L__face--front {
  transform: rotateY(0deg) translateZ(100px);
}

.cube_L__face--right {
  transform: rotateY(90deg) translateZ(300px);
}

.cube_L__face--back {
  transform: rotateY(180deg) translateZ(100px);
}

.cube_L__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}

.cube_L__face--top {
  transform: rotateX(90deg) translateZ(100px);
}

.cube_L__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.v-light:not(.no-light) .cube_L__face--front {
  background: #101010;
  width: 400px;
  height: 200px;
}

.v-light:not(.no-light) .cube_L__face--right {
  background: #353535;
  width: 200px;
  height: 200px;
}

.v-light:not(.no-light) .cube_L__face--back {
  background: #101010;
  width: 400px;
  height: 200px;
}

.v-light:not(.no-light) .cube_L__face--left {
  background: #353535;
  width: 200px;
  height: 200px;
}

.v-light:not(.no-light) .cube_L__face--top {
  background: #585858;
  width: 400px;
  height: 200px;
}

.v-light:not(.no-light) .cube_L__face--bottom {
  background: #585858;
  width: 400px;
  height: 200px;
}

.cube_L__face--front {
  background: #ffffff;
  width: 400px;
  height: 200px;
}

.cube_L__face--right {
  background: #d6d6d6;
  width: 200px;
  height: 200px;
}

.cube_L__face--back {
  background: #ffffff;
  width: 400px;
  height: 200px;
}

.cube_L__face--left {
  background: #d6d6d6;
  width: 200px;
  height: 200px;
}

.cube_L__face--top {
  background: #f7f7f7;
  width: 400px;
  height: 200px;
}

.cube_L__face--bottom {
  background: #f7f7f7;
  width: 400px;
  height: 200px;
}

.nose .cube_L__face--front {
  transform: rotateY(0deg) translateZ(100px);
}

.nose .cube_L__face--right {
  transform: rotateY(90deg) translateZ(100px);
}

.nose .cube_L__face--back {
  transform: rotateY(180deg) translateZ(100px);
}

.nose .cube_L__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}

.nose .cube_L__face--top {
  transform: rotateX(90deg) translateZ(100px);
}

.nose .cube_L__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.v-light:not(.no-light) .nose .cube_L__face--front {
  background: #101010;
  width: 200px;
  height: 200px;
}

.v-light:not(.no-light) .nose .cube_L__face--right {
  background: #353535;
  width: 200px;
  height: 200px;
}

.v-light:not(.no-light) .nose .cube_L__face--back {
  background: #101010;
  width: 200px;
  height: 200px;
}

.v-light:not(.no-light) .nose .cube_L__face--left {
  background: #353535;
  width: 200px;
  height: 200px;
}

.v-light:not(.no-light) .nose .cube_L__face--top {
  background: #585858;
  width: 200px;
  height: 200px;
}

.v-light:not(.no-light) .nose .cube_L__face--bottom {
  background: #585858;
  width: 200px;
  height: 200px;
}

.nose .cube_L__face--front {
  background: #ffffff;
  width: 200px;
  height: 200px;
}

.nose .cube_L__face--right {
  background: #d6d6d6;
  width: 200px;
  height: 200px;
}

.nose .cube_L__face--back {
  background: #ffffff;
  width: 200px;
  height: 200px;
}

.nose .cube_L__face--left {
  background: #d6d6d6;
  width: 200px;
  height: 200px;
}

.nose .cube_L__face--top {
  background: #f7f7f7;
  width: 200px;
  height: 200px;
}

.nose .cube_L__face--bottom {
  background: #f7f7f7;
  width: 200px;
  height: 200px;
}

#dsn-hero-title .metas {
  transform: rotateZ(-90deg);
  position: relative;
  width: 100%;
  z-index: 1;
  left: -36vw;
}

.header-project .hero-sm-title {
  max-width: 405px;
  margin: 20px 0;
}

.header-project .intro-project-details {
  padding: 0 5px 30px;
  width: 100%;
  min-width: 440px;
}

.about.title {
  max-width: 100%;
  text-align: right;
}

.about.title .dsn-chars-wrapper {
  opacity: 0;
  visibility: hidden;
}

#dsn-about-title .metas {
  position: absolute;
  left: 0%;
  transform: translateX(0) translateY(0);
  top: 50%;
}

.header-project.header_about .info-group {
  position: absolute;
  left: 10%;
  bottom: 5%;
  top: auto;
}

.work_2.our-work .work-item {
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
}

.work_2.our-work .img-next-box {
  min-width: 660px;
  height: 538px;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.work_2.our-work .img-next-box {
  position: relative;
}

.work_2.our-work .img-next-box::before {
  position: absolute;
  top: 64px;
  left: -44px;
  width: 100%;
  height: 100%;
  content: "";
  background-color: black;
  opacity: 1;
}

.work_2.our-work .item-info {
  display: flex;
  flex-direction: column;
  gap: 0 50px;
}

.work_2.our-work .item-info p {
  font-size: 19px;
  color: black !important;
}
.work_2.our-work .item-info h3 {
  color: #fe5e00 !important;
}
.work_2.our-work .work-item {
  min-width: 100vw;
}

.work_2.our-work .work-item .item-border {
  height: 350px;
  top: 9vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: -1;
}

.our-work-card {
  position: absolute;
}

.our.title {
  max-width: 100%;
  text-align: left;
}

.our.title .dsn-chars-wrapper {
  opacity: 0;
}

.belief.title .dsn-word-wrapper:last-child {
  transform: scale(1);
  transform-origin: left top;
  left: -6rem;
  margin-top: 1.5rem;
}

.our.title .dsn-word-wrapper:last-child .dsn-chars-wrapper:last-child:after {
  content: "";
  width: 96px;
  height: 52px;
  position: absolute;
  background-color: var(--bs-primary);
  top: 20px;
  transform: translate(-50%);
  left: 50%;
  margin-left: 74%;
}

.header-project.header_our .info-group {
  position: absolute;
  bottom: auto;
  top: 0;
  right: 10vw;
  max-width: 270px;
}

.header-project.header_our .info-group .description {
  min-width: auto;
  max-width: auto;
}

.header-project.header_belief {
  background-color: #000;
  min-height: 607px;
  padding: 100px 150px 0;
  display: flex;
  align-items: center;
}

.belief.title .dsn-word-wrapper:first-child {
  font-size: 6rem;
  line-height: 1;
  z-index: 1;
  position: absolute !important;
  margin-top: -50px;
}

.title.belief {
  position: relative;
}

.belief.title {
  max-width: 100%;
  font-size: 21.5rem;
  line-height: 1;
  font-family: "Proxima Nova Th";
  text-align: left;
  color: var(--bs-white) !important;
}

.belief.title .dsn-chars-wrapper {
  opacity: 0;
  visibility: hidden;
}

.belief.title .dsn-word-wrapper:last-child .dsn-chars-wrapper {
  color: transparent;
  -webkit-text-stroke: 3px var(--bs-primary);
}

.header-project .intro-project {
  width: 100%;
  margin: auto;
}

.digital-transform {
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  .header-project .intro-project {
    width: 100%;
  }
}
.header-project .info-group {
  position: relative;
  display: flex;
  gap: 0 100px;
}

.header-project .desc-personal {
  margin-top: 25px;
}
/* 
.header-project #dsn-hero-desc-items {
  margin-top: 25px;
} */

@media only screen and (max-width: 991px) {
  .header-project .link-vist {
    left: 0;
  }
}

.header-project .v-middle-horizontal .intro-project {
  width: 100%;
}

.header-project.justify-content-center .intro-project,
.header-project.text-center .intro-project {
  width: 100%;
}

.header-project .intro-project-details .accordion {
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .header-project .intro-project-details {
    padding: 0 15px 30px;
  }
}

.v-light:not(.no-light) .header-project .intro-project-details h5 {
  color: #050505;
}

.v-light:not(.no-light) .header-project .intro-project-details p {
  color: #050505;
}

.header-project.header_belief .metas {
  position: absolute;
  top: 15rem;
  left: -15rem;
}

.header-project.header_belief .info-group {
  position: absolute;
  max-width: 460px;
  right: 0;
  top: 0;
}

@media (min-width: 1600px) {
  .header-project.header_belief .info-group {
    max-width: 50%;
  }
}

.header-project.header_belief .info-group .description {
  max-width: 100%;
  margin: 0;
  color: white;
  margin-top: -30px;
}

.header-project.header_belief .info-group .descrption-item h5 {
  color: var(--bs-primary);
  margin-bottom: 1rem;
}

.header-project.header_belief .info-group .desc-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dsn-belief-desc-items {
  transform: translate(15%, -25%) !important;
}

#dsn-footer-title {
  font-size: 9.375rem;
  line-height: 0.8;
}

.root-contact [data-overlay]:before {
  z-index: -1;
}

.next-project .bg-title {
  opacity: 1 !important;
  z-index: 0;
}

#dsn-footer-description {
  color: #fff;
  max-width: 460px;
  width: 100%;
}

.next-project .intro-project h3 {
  color: var(--bs-primary) !important;
  font-size: 2.25rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.form-check.form-lg {
  padding-left: 4.2rem;
}

.form-lg label {
  font-size: 1.5rem;
  opacity: 1;
}

.form-lg input[type="radio"] {
  display: none;
}

.form-lg label {
  position: relative;
  cursor: pointer;
}

.form-lg label::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0%;
  top: 50%;
  left: -4rem;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
}

.form-lg label::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 12px;
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  border-radius: 0%;
  top: 50%;
  left: -4rem;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}

.form-lg input[type="radio"]:checked + label::before {
  border-color: var(--bs-primary);
}

.form-lg input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(0.7);
}

/* ! footer css */
.footer-1 .footer-links {
  max-width: 80vw;
  margin: 0 auto;
}

.footer-1 .footer-links .footer-title {
  font-size: 2rem;
  font-family: var(--bs-font-sans-serif);
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.v-light:not(.no-light) .footer-1 .footer-links .footer-title {
  color: var(--bs-primary);
}

.v-light:not(.no-light) .background-section {
  background-color: var(--bs-white);
}

.footer-1 .footer-links {
  padding: 4rem 0;
}

.footer-1 .footer-links .footer-block .footer-logo {
  width: 200px;
}

.header-project .description {
  margin-top: 25px;
  max-width: 480px;
}

.digital-transform .description {
  max-width: 580px;
}

/* * Resposive media query */
@media (max-width: 1900px) {
  .box {
    scale: 1.5;
    transform: rotateY(-30deg) rotateX(-6deg) skewY(2deg) skewX(-2deg)
      translateX(22%) translateY(-15%) translateZ(-50px);
  }

  .L_shap {
    scale: 2;
    transform: rotateY(-9deg) rotateX(0deg) rotateZ(-6deg) skewY(6deg)
      skewX(-6deg) translateX(32%) translateY(0%) translateZ(-100px);
  }
}

@media (max-width: 1600px) {
  :root {
    font-size: 15px;
  }

  .box {
    scale: 1.2;
    transform: rotateY(-30deg) rotateX(-6deg) skewY(2deg) skewX(-2deg)
      translateX(22%) translateY(-30%) translateZ(-50px);
  }

  .L_shap {
    scale: 1.7;
    transform: rotateY(-9deg) rotateX(0deg) rotateZ(-6deg) skewY(6deg)
      skewX(-6deg) translateX(32%) translateY(-10%) translateZ(-100px);
  }

  .next-project {
    height: 100vh;
  }
}

@media (max-width: 1368px) {
  :root {
    font-size: 12px;
  }

  #dsn-pigmentation-description.description {
    margin-top: -20%;
  }

  #dsn-pigmentation-desc-items.intro-project-details {
    margin-top: 6%;
  }

  .box {
    scale: 1;
    transform: rotateY(-30deg) rotateX(-6deg) skewY(2deg) skewX(-2deg)
      translateX(22%) translateY(-30%) translateZ(-50px);
  }

  .L_shap {
    scale: 1.5;
    transform: rotateY(-9deg) rotateX(0deg) rotateZ(-6deg) skewY(6deg)
      skewX(-6deg) translateX(32%) translateY(-10%) translateZ(-100px);
  }

  .hero.title {
    font-size: 6.25rem;
  }

  #dsn-hero-title .metas {
    left: 16%;
    padding-right: 0%;
    max-width: 680px;
  }

  #dsn-belief-desc-items {
    transform: translate(15%, -40%) !important;
    max-width: 256px;
    width: 100%;
    margin: auto;
  }

  .accordion__item {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  #dsn-hero-title .title.hero {
    transform: rotateZ(-90deg) translateX(-35%) translateY(-88%);
    text-align: right;
    padding-right: 3%;
  }

  p.lead,
  .lead p {
    font-size: 1.275rem;
  }

  .work_2.our-work .item-info {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }

  p {
    font-size: 1.375rem;
  }

  h5,
  .sub-text-header h5,
  h5.sub-title {
    font-size: 2rem;
  }

  .scene {
    width: 600px;
    height: 300px;
    perspective: 600rem;
  }

  .box__face--front,
  .box__face--back {
    width: 600px;
    height: 300px;
    line-height: 300px;
  }

  .box__face--right,
  .box__face--left {
    width: 200px;
    height: 300px;
    left: 200px;
    line-height: 300px;
  }

  .box__face--top {
    width: 600px;
    height: 200px;
    top: 100px;
    line-height: 200px;
  }

  .box__face--bottom {
    width: 600px;
    height: 200px;
    top: 0px;
    line-height: 200px;
  }

  .box {
    height: 200px;
    top: 30%;
    scale: 0.8;
    transform: rotateY(-30deg) rotateX(-6deg) skewY(2deg) skewX(-2deg)
      translateX(15%) translateY(14%) translateZ(-50px);
  }

  .L_shap {
    top: -80%;
    scale: 1.1;
    transform: rotateY(-9deg) rotateX(0deg) rotateZ(-6deg) skewY(6deg)
      skewX(-6deg) translateX(32%) translateY(-10%) translateZ(-100px);
  }

  #dsn-acne-description.description {
    margin-top: -20%;
  }

  #dsn-3d-L {
    display: none;
  }

  #dsn-pigmentation-description.description {
    margin-top: -45%;
    left: 0;
    right: 0;
  }

  #dsn-pigmentation-desc-items.intro-project-details {
    max-width: 680px;
    margin-top: -5%;
    left: 0;
    right: 0;
  }

  .hero.title,
  h2,
  h2.title,
  .section-p h2.title {
    font-size: 6rem;
    max-width: 100%;
  }

  #dsn-hero-title .metas {
    transform: rotateZ(0deg) !important;
    padding-right: 0;
    left: 0;
    text-align: left;
  }

  #dsn-hero-title .title.hero {
    transform: rotateZ(0deg) translateX(0%) translateY(0%) !important;
    text-align: left;
    padding-right: 0;
  }

  #dsn-hero-title .title.hero .dsn-chars-wrapper {
    transform: none !important;
  }

  .header-project .info-group {
    position: relative;
    top: auto;
    left: auto;
  }

  #dsn-hero-title,
  .header-project .description,
  .header-project .hero-sm-title,
  .header-project .intro-project-details,
  .accordion__answer,
  .root-contact .intro-project,
  #dsn-footer-description {
    max-width: 680px;
    margin: auto;
  }

  #dsn-hero-title {
    padding-top: 16%;
    margin-bottom: 40px;
  }

  h2.title.display,
  .section-p h2.title.display {
    font-size: 12.5rem;
    font-family: "Proxima Nova Th";
    line-height: 1;
  }

  #dsn-about-title .metas {
    top: 54%;
    left: 10% !important;
  }

  .header-project.header_about .info-group {
    position: absolute;
    left: 10%;
    bottom: -36%;
    top: auto;
  }

  .belief.title {
    font-size: 12.5rem;
    line-height: 3rem;
  }

  .belief.title .dsn-word-wrapper:first-child {
    font-size: 4rem;
  }

  .belief.title .dsn-word-wrapper:last-child {
    left: 0;
  }

  #dsn-belief-desc-items {
    transform: translate(0%, 10%) !important;
    max-width: 100%;
  }

  .header-project.header_belief .info-group {
    margin-top: 15%;
  }

  .header-project.header_belief .intro-project,
  .header-project.header_our .intro-project {
    width: 100%;
    margin: auto;
    max-width: 680px;
  }

  .our.title .dsn-word-wrapper:last-child .dsn-chars-wrapper:last-child:after {
    scale: 0.7;
  }

  .work_2.our-work .work-item .item-border {
    height: 32vh;
    top: 10rem;
  }

  .work_2.our-work .img-next-box {
    width: 70%;
    height: 35vh;
    top: 8rem;
  }

  .work_2.our-work .item-info {
    height: 48vh;
    max-width: 680px;
  }

  .next-project {
    height: auto;
  }

  #dsn-footer-title {
    font-size: 7.375rem;
    line-height: 1;
  }

  .footer-1 .footer-links .footer-block .textwidget {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .footer-1 .footer-links .footer-block-inner:nth-of-type(n + 3) {
    margin-top: 0;
  }
}

@media (max-width: 912px) {
  :root {
    font-size: 14px;
  }

  .hero.title,
  h2,
  h2.title,
  .section-p h2.title {
    font-size: 5rem;
    max-width: 94%;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .site-header {
    padding: 3rem 3rem;
  }

  .box {
    height: 100%;
    top: 25%;
    scale: 0.6;
    transform: rotateY(-30deg) rotateX(-6deg) skewY(2deg) skewX(-2deg)
      translateX(15%) translateY(-9%) translateZ(-50px);
  }

  .L_shap {
    top: -68%;
    scale: 0.9;
    transform: rotateY(-9deg) rotateX(0deg) rotateZ(-6deg) skewY(6deg)
      skewX(-6deg) translateX(6%) translateY(-10%) translateZ(-100px);
  }

  #dsn-pigmentation-description.description,
  #dsn-pigmentation-desc-items.intro-project-details {
    position: relative;
    margin-top: 0;
  }

  #dsn-pigmentation-description.description .metas {
    margin: 0;
  }

  .header-project #dsn-hero-desc-items {
    margin-top: 0px;
  }

  #dsn-hero-title {
    padding-top: 18%;
  }

  h2.title.display,
  .section-p h2.title.display {
    font-size: 10.5rem;
  }

  h3,
  h3.sub-title,
  .section-p h3.sub-title {
    font-size: 2.35rem;
  }

  h5,
  .sub-text-header h5,
  h5.sub-title {
    font-size: 1.625rem;
  }

  p.lead,
  .lead p {
    font-size: 1.375rem;
  }

  #dsn-about-title .metas {
    top: 54%;
    left: 2% !important;
  }

  .header-project.header_about .info-group {
    position: absolute;
    left: auto;
    bottom: auto;
    top: auto;
  }

  .belief.title .dsn-word-wrapper:last-child {
    left: -50px;
    margin-top: 4.25rem;
  }

  .our.title .dsn-word-wrapper:last-child .dsn-chars-wrapper:last-child:after {
    scale: 0.5;
    top: 5px;
    left: 32%;
  }

  .work_2.our-work .img-next-box {
    width: 90%;
    height: 35vh;
  }

  .work_2.our-work .item-info {
    height: 46vh;
    max-width: 84%;
  }

  #dsn-footer-title {
    font-size: 6rem;
  }

  .header-project .intro-project,
  .main-slider .dsn-slider-content .slide-content,
  .next-project .next-inner,
  .pl-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 520px) {
  :root {
    font-size: 8px;
  }

  p {
    font-size: 1.45rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h6 {
    font-size: 1.75rem;
  }

  p.lead,
  .lead p {
    font-size: 1.675rem;
  }

  .container,
  .header-project .link-vist {
    padding-right: 30px;
    padding-left: 30px;
  }

  .site-header .menu-icon .text-menu {
    width: 8rem;
    font-size: 2.375rem;
  }

  .site-header .menu-icon.nav-active .text-menu {
    width: 8rem;
  }

  .site-header .inner-header .main-logo img {
    height: 32px;
  }

  .site-header ul.extend-container {
    padding: 0 50px 0 50px;
  }

  .scene_L,
  .scene {
    width: 320px;
  }

  .box {
    height: 100%;
    top: 25%;
    scale: 0.35;
    transform: rotateY(-30deg) rotateX(-6deg) skewY(2deg) skewX(-2deg)
      translateX(-50%) translateY(-30%) translateZ(-50px);
  }

  .L_shap {
    top: -68%;
    scale: 0.4;
    transform: rotateY(-9deg) rotateX(0deg) rotateZ(-6deg) skewY(6deg)
      skewX(-6deg) translateX(-45%) translateY(-20%) translateZ(-100px);
  }

  #dsn-pigmentation-desc-items.intro-project-details,
  #dsn-pigmentation-description.description {
    max-width: 100%;
    min-width: 100%;
  }

  #dsn-hero-title,
  .header-project .description,
  .header-project .hero-sm-title,
  .header-project .intro-project-details,
  .accordion__answer,
  .root-contact .intro-project,
  #dsn-footer-description,
  #dsn-hero-title .metas {
    max-width: 100%;
    min-width: 100%;
    margin: auto;
  }

  .header-project .intro-project,
  .main-slider .dsn-slider-content .slide-content,
  .next-project .next-inner,
  .pl-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-product.header-project .description {
    position: relative;
  }

  .accordion__item {
    padding-top: 22px;
    margin-bottom: 22px;
  }

  .header-project .intro-project-details {
    padding: 0;
  }

  #dsn-hero-title {
    padding-top: 30%;
  }

  #dsn-footer-title {
    font-size: 8rem;
  }

  .belief.title .dsn-word-wrapper:last-child {
    left: -28px;
  }

  #dsn-belief-desc-items {
    max-width: 64%;
  }

  .our.title .dsn-word-wrapper:last-child .dsn-chars-wrapper:last-child:after {
    scale: 0.25;
    top: -8px;
    left: -10%;
  }

  .header-project.header_our .info-group {
    top: 20px;
    left: 60%;
  }

  .work_2.our-work .item-info {
    height: 52vh;
    max-width: 100%;
  }

  .next-project .next-inner {
    padding: 0 !important;
  }

  .form-lg label {
    font-size: 2rem;
    opacity: 1;
  }

  .form-lg label::before {
    width: 24px;
    height: 15px;
  }

  .form-lg label::after {
    width: 24px;
    height: 15px;
  }

  .form-check.form-lg {
    padding-left: 4.2rem;
    padding-top: 0px;
    padding-bottom: 10px;
    line-height: 2;
  }

  .footer-1 .footer-links .footer-block-inner:nth-of-type(n + 2) {
    margin-top: 0px;
  }

  .footer-1
    .footer-links
    .row
    .footer-block-inner:last-child
    .footer-block
    .footer-social
    ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 40px;
  }

  .footer-1
    .footer-links
    .row
    .footer-block-inner:last-child
    .footer-block
    .footer-social
    ul
    li
    a
    svg {
    width: 28px;
    height: 28px;
  }

  .footer-1 .footer-links .footer-block .footer-social ul {
    margin-top: 10px;
  }

  .footer-1 .footer-links .footer-block .footer-social ul li,
  .footer-1 .footer-links .footer-block .footer-social ul li p {
    font-size: 1.45rem;
    letter-spacing: 0;
  }

  .footer-1 .footer-nav ul li a.link-hover {
    font-size: 1.25rem;
    letter-spacing: 2px;
  }
}

.home-product {
  overflow: hidden;
}

.fwrd-text-style .title {
  display: flex;
}

.fwrd-text {
  white-space: nowrap;
}

.text-style {
  height: 60px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.text-style {
  color: #da4a00;
}

.texttt {
  position: absolute;
  height: 60px;
  text-align: center;
  white-space: nowrap;
  left: 0;
  width: 100%;
}

.texttt span {
  color: #000;
}

.fwrd-text-style .description h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.fwrd-text-style .description h1 .headingText {
  color: var(--bs-primary);
  position: absolute;
}

.fwrd-text-style .description {
  right: auto;
  left: 0;
}
